---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Perry Song" description="About Perry Song Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Perry Song at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						• 2021.9 ~   <a>Xiaoman (小满)</a> 
					</p>
					<p>
						• 2020.10 ~ 2022.09 <a>Youzan (有赞)</a>
					</p>
					<p>
						• 2018.04 ~ 2020.10 <a>Huawei (华为)</a>
					</p>
					<p>
						• 2017.07 ~ 2018 .04 <a>Dianxiaomi（店小秘）</a>
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Huanghuai University / Huawei University </p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>• Proficient in using <a>React / Vue</a> as a streaming framework, pay attention to the latest updates of the framework, and understand the implementation principles of relevant features</p>
					<p>• Have a solid front-end technology and computer foundation, and have a solid learning understanding of computer networks, JavaScript basics, and browser features</p>
					<p>• Have a clear understanding of React server rendering and SEO, and have some practice in projects</p>
					<p>• There are established practices for front-end microservices, participating in the establishment of team microservices</p>
					<p>• There are specific development practices for front-end applications such as hybird APP and hybird programs</p>
					<p>• Understand front-end performance optimization plans, and have established practices for front-end performance optimization and buried point monitoring</p>
					<p>• Have established engineering capabilities, have led the implementation and implementation of complex projects, and have served as project PM for many times</p>
					<p>• Have good coding habits, participate in team code management, and be responsible for the development and implementation of code specifications</p>
					<br/>
					<hr/>
					<br/>
					<p>• 熟练使⽤流⾏框架 <a>React / Vue</a>，关注框架最新更新，了解相关特性的实现原理 </p>
					<p>• 有扎实的前端技术和计算机基础，对计算机网络、JavaScript基础、浏览器特性有⼀定学习了解 </p>
					<p>• React服务端渲染、SEO有⼀定了解，并在项⽬中有所实践 </p>
					<p>• 前端微服务有⼀定实践，参与团队微服务项⽬的搭建 </p>
					<p>• 前端⽣态相关开发如：hybird APP、⼩程序有⼀定开发实践 </p>
					<p>• 了解前端性能优化⽅案，对前端性能优化、埋点监控有⼀定实践 </p>
					<p>• 有⼀定的工程化能⼒，主导过复杂项⽬的实施落地，多次担任项⽬PM </p>
					<p>• 有良好的编码习惯，参与团队的代码管理，负责代码规范的制定和落实</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
